[Unit]
Description=Flask App
After=network.target

[Service]
User=azureuser
WorkingDirectory=/home/azureuser/deploy-azure
ExecStart=/usr/local/bin/gunicorn --bind 0.0.0.0:5000 app:app
Restart=always

[Install]
